<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết sách</title>
</head>
<body>

<div th:replace="books/list :: myHeader('CHI TIẾT SÁCH')"></div>

<div th:if="${book != null}">
    <p><b>Mã số:</b> <span th:text="${book.id}"></span></p>
    <p><b>Tên sách:</b> <span th:text="${book.title}"></span></p>
    <p><b>Tác giả:</b> <span th:text="${book.author}"></span></p>
    <p><b>Giá bán:</b> <span th:text="${book.price} + ' VNĐ'"></span></p>
</div>

<p th:if="${book == null}" style="color: red;">Không tìm thấy sách!</p>

<br>
<a th:href="@{/books}">[ Quay lại danh sách ]</a>

</body>
</html>